.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header header"
      "tidakada left mid right tidakadaa"
      "tidakada left mid right tidakadaa"
      "tidakada left mid right tidakadaa"
      "tidakada left mid right tidakadaa"
      "footer footer footer footer footer";
  }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #f9b23d;
  }
  
  .player1 {
    grid-area: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 100px;
    letter-spacing: 00.2em;
  }
  
  .batu:hover {
    cursor: pointer;
    background-color: #c4c4c4;
  }
  .kertas:hover {
    cursor: pointer;
    background-color: #c4c4c4;
  }
  .gunting:hover {
    cursor: pointer;
    background-color: #c4c4c4;
  }
  
  .mid {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .VS {
    color: #bd0000;
    font-size: 50px;
  }
  .playerWin {
    padding: 4px 3vh ;
    color: white;
    background-color: #4c9654;
    transform: rotate(-30deg);
    display: none;
  }
  
  .DRAW {
    padding: 4px 3vh ;
    color: white;
    background-color: #4c9654;
    transform: rotate(-30deg);
    display: none;
  }

  .comWin {
    padding: 4px 3vh ;
    color: white;
    background-color: #4c9654;
    transform: rotate(-30deg);
    display: none;
  }
  .right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 100px;
    letter-spacing: 00.2em;
  }
  
  .footer {
    grid-area: footer;
    text-align: center;
  }
  .footer:hover{
    cursor: pointer;
  }
  